<<<<<<< HEAD

<footer >

  <div class="footer" id="footer">
    © Ari&Daniel&Benayau
  </div>

</footer>

</body>
</html>
=======

<footer >

  <div class="footer" id="footer">
    © Ari&Daniel&Benayau
  </div>

</footer>

</body>
</html>
>>>>>>> a757f69f56b07bde5b3005522a91f04547a86930
