<%-include('partials/header') %>

<!-- first header -->
<header class="first-header">
  <div class="f-header-content">
    <h1 class="headerTitle">Wellcome to dFm </h1>
    <h3><span class="red-letter">D</span>rive For Money</h3>
    <p class="p-header">Here you can earn money or use our services</p>

    <!-- login buttons -->
    <div class="loginButtons">
      <a href="/login"><button type="button" class="Inbutton" name="button">Login</button></a>
      <a href="/signUp"><button type="button" class="Upbutton " name="button">Sing Up</button></a>
    </div>
</header>



<section class="white-section" id="ourservices">
  <h2 class="section-heading">Our Services</h2>

  <div class="container-fluid">

    <div class="row">
      <div class="service-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="service-title">Travels</h3>
        <p>Our drivers will take you from place to place at an affordable price suitable for every budget.</p>
      </div>

      <div class="service-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="service-title">Shipments</h3>
        <p>Our drivers also offer a service of deliveries from place to place with high availability and at any hour.</p>
      </div>

      <div class="service-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="service-title">Availability</h3>
        <p>Our site is at your service twenty-four hours a day with a wide audience of drivers who will be happy to help you at any hour.</p>
      </div>
    </div>

  </div>
</section>

<hr>
<!--           recommendations            -->


<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">


      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">Working with a DFm Website is a recommended job for anyone looking to make some money in their spare time.</h2>
        <img class="testimonial-image" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_07/3227271/200212-jennifer-aniston-cs-900a.jpg" alt="driver-profile">
        <em> Rechel Grin - Driver, Illinois</em>
      </div>


      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">I recommend everyone to use the site, its use is easy and simple. Just getting from place to place.</h2>
        <img class="testimonial-image" src="https://i.guim.co.uk/img/media/561c7de9ead71433817771724a31373c2d4f32e7/0_279_2400_1440/master/2400.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=58c5062d3a48e8c292ac97c87d57e958"
          alt="driver-profile">
        <em> Goey Tribbiani - Passenger, Kalifornia </em>
      </div>
    </div>

    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</section>

<hr>

<!--                 about and contact us         -->

  <section class="white-section" id="contact">
  <h2 class="section-heading ">Contact and About us</h2>

  <div class="container-fluid">
    <div class="row">

      <div class="contact-box col-lg-6">
        <h2 class="contact-title">Contact us <i class="fas fa-address-book"></i></h2>
        <p>Hi and thank you very much for using DFm! For any suggestion, comment and question we are at your service at our email address.
          Please click on the button below and write to us and we will be happy to be at your service at any time of the day.<br> <em> Keep in touch! </em></p>

        <a class="btn" href="mailto:info@ari.w.05122@gmail.com">Send Email</a>
      </div>

      <div class="about-box col-lg-6">
        <h2 class="about-title">About us <i class="fas fa-address-card "></i></h2>
        <p>The developers of this website are third year students in the computer science degree at Ashkelon Gan Yavne College.
          The site was built by <em>Daniel Orlik</em>, <em>Benyaho Tamsut</em> and <em>Ari Weisner</em>.</p>
      </div>




      <%- include('partials/footer') %>
