<<<<<<< HEAD
<%-include('partials/header') %>

<form class="" action="/cregister" method="post">
  <div class="client-register">
    <h1>Registeration</h1>
    <input type="text" name="firstName" value="" placeholder="First Name">
    <input type="text" name="lastName" value="" placeholder="Last Name">
    <input type="email" name="email" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Submit</button>
  </div>
</form>
<%- include('partials/footer') %>
=======
<%-include('partials/header') %>

<form class="" action="/cregister" method="post">
  <div class="client-register">
    <h1>Registeration</h1>
    <input type="text" name="firstName" value="" placeholder="First Name">
    <input type="text" name="lastName" value="" placeholder="Last Name">
    <input type="email" name="email" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Submit</button>
  </div>
</form>
<%- include('partials/footer') %>
>>>>>>> a757f69f56b07bde5b3005522a91f04547a86930
