<<<<<<< HEAD
<%-include('partials/header') %>

<h1>log in</h1>

<%- include('partials/footer') %>
=======
<%-include('partials/header') %>

<h1>log in</h1>

<%- include('partials/footer') %>
>>>>>>> a757f69f56b07bde5b3005522a91f04547a86930
