<<<<<<< HEAD
<%-include('partials/header') %>



<section class="signUpPage">
<a href="/dregister"> <div class="driver">
    <h1>Driver</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div></a>
  <a href="/cregister"><div class="passenger">
    <h1>Passenger</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  </div></a>
</section>


<%- include('partials/footer') %>
=======
<%-include('partials/header') %>



<section class="signUpPage">
<a href="/dregister"> <div class="driver">
    <h1>Driver</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div></a>
  <a href="/cregister"><div class="passenger">
    <h1>Passenger</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  </div></a>
</section>


<%- include('partials/footer') %>
>>>>>>> a757f69f56b07bde5b3005522a91f04547a86930
