<%-include('partials/header') %>



<section class="signUpPage">
  <div class="driver">
    <h1>Driver</h1>
  </div>
  <div class="passenger">
    <h1>Passenger</h1>
  </div>
</section>


<%- include('partials/footer') %>
