body {
  background: black !important;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----navigation bar---- */
nav {
  height: 8%;
  width: 100%;
  background-color: rgb(11 8 8);
  color: #fff;
}

.logo {
  padding: 0px 1.5rem;
  color: red;
}

.nav-buttons ul li {
  display: inline-block;
  list-style: none;
  float: right;
  padding: 0px 1.5rem;
}

.nav-buttons ul li a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  transition: color .5s ease-in-out;
}

.nav-buttons ul li a:hover {
  color: red;
}

.nav-buttons ul li a::after {
  content: ' ';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-buttons ul li a:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
  color: #fff;
  font-size: 2rem;
  padding: 0px 16px;
  cursor: pointer;
}

@media(max-width: 700px) {
  nav .fa {
    display: block;
  }

  .nav-buttons ul li {
    display: block;
  }

  nav {
    padding: 8px 0 8px !important;
  }

  .nav-buttons {
    position: absolute;
    background-color: rgb(40 42 53);
    border: 0px 0px 0.2px 0.2px red solid;
    border-radius: 4px;
    box-shadow: -3px 3px 7px 0px red;
    height: auto;
    width: 150px;
    top: 3rem;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.6s;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
}

/* -----first header ---- */
.first-header {
  background-image: url("https://i.pinimg.com/originals/9e/4d/bb/9e4dbb5d6f21fb5103360b599c6ff526.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 28rem;
  width: 100%;
  margin: 6rem 0px;
}

.first-header::before {
  content: ' ';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 1s;
}

.first-header:hover::before {
  width: 100%;
}

.f-header-content {
  float: left;
  padding: 4rem 3rem;
  color: #fff;
  line-height: 8px;
}

.f-header-content a {
  align-items: center;
}

.headerTitle {
  margin: 1rem 0px;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.red-letter {
  color: red;
}

.p-header {
  padding-bottom: 80px;
}

@media(max-width: 700px) {
  .first-header {
    margin: 3rem 0px;
  }

  .f-header-content {
    float: none;
    text-align: center;
    padding: 4rem 3rem;
    color: #fff;
  }

  .headerTitle {
    margin: 1rem 0px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .p-header {
    display: none;
  }
}

@media(max-width: 1000px) {
  .p-header {
    display: none;
  }
}

/* ----login buttons---- */
.loginButtons {
  margin: 3rem 0px;
  padding: 4rem;
}

.Upbutton {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 1s;
  left: 50%;
}

.Inbutton {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 32px;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Inbutton::after {
  content: ' ';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: 10px 0 0 0;
  transition: 1s;
}

.Inbutton:hover::after {
  width: 100%;
}

.Upbutton:hover {
  background-color: black;
}

.signup {
  margin: 6rem;
}

/* ----footer---- */
footer {
  position: absolute;
  bottom: 0;
  padding: 0px;
  margin: 0 0 20px 0;
  height: 10px;
  width: 100%;
  color: #585858;
  text-align: center;
  font-size: 1rem;
}

/* @media  only screen and (max-device-width: 800px) {
  .loginButtons {
    position: absolute;
    left: 30%;
    bottom: 4rem;
    display: inline-block;
  }
} */
/* -----register---- */
.section-heading {
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 5px;
}

.container-fluid {
  padding: 3% 7%;
}

/* ------sign up and options section------- */
.signUpPage {
  position: relative;
  margin: 5rem 0rem;
  text-align: center;
}
.signUpPage h1 {
  padding-bottom: 6rem;
}
.driver {
  padding: 4rem 15px;
  text-align: left;
  height: 370px;
  background-color: rgb(22 19 19);
  width: 18%;
  float: right;
  margin-right: 28%;
  border-radius: 15px;
  color: white;
  border: 1px solid red;
}

.passenger {
  padding: 4rem 15px;
  text-align: left;
  margin-left: 28%;
  height: 370px;
  width: 18%;
  color: white;
  background-color: rgb(22 19 19);
  float: left;
  border-radius: 15px;
  border: 1px solid red;
}

@media(max-width: 1000px) {
  .signUpPage h1 {
    padding-top: 1rem;
    padding-bottom:20px;
    font-size: 2rem;
  }
  .passenger {
    width: 80%;
    margin: 5% 30px;
    height: 150px;
    text-align: left;
    padding: 0 1rem;
    float: none;
  }

  .driver {
    float: none;
    padding: 0 1rem;
    margin: 5% 30px;
    text-align: left;
    width: 80%;
    height: 150px;
  }
}
/* ------clietn register----- */
.client-register{
margin: 2% 30%;
padding: 50px 100px 50px 100px;
text-align:left;
transition: 1s;
border: 1px solid white;
border-radius: 12px;

}
.client-register:hover{
  border: 1px solid red;
  border-radius: 12px;

}
.client-register input{
  height: 40px;
  width: 200px;
  margin-bottom: 1rem;
  display: block;
  line-height: 2rem;
  color: red;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;

}
::placeholder{
  color: white;
}
.client-register h1{
  text-align: center;
  color: white;
  margin:1.5rem 0px;

}

.client-register button{
  margin: 1.5rem 0px;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 120px;
  background-color: red;
  color: white;
  transition: 0.6;
}
.client-register button:hover{
  background-color: black;
  color: red;
  border: 1px solid red;

}

@media(max-width:1000px) {
.client-register{
  margin: 8% 10%;
  padding: 0;
  padding-left: 20px;
}
.client-register input{
  border: none;
  border-bottom: 1px solid white;

}
}


/* ------ari's style code----- */
/*        section-heading           */
.section-heading {
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 5px;
}

.container-fluid {
  padding: 3% 7%;
}

/*      sections      */
.white-section {
  margin-top: 10%;
  margin-bottom: 10%;
  background: rgb(11 8 8);
}

/*            Our services           */
#ourservices {
  padding: 0 10px;
  position: relative;
  color: white;
}

.service-title {
  font-size: 1.5rem;
}

.service-box {
  padding: 2.5%;
  border: 3px solid transparent;
}

.service-box::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  box-sizing: border-box;
  height: 0%;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all .1s ease;
}

.service-box::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  box-sizing: border-box;
  height: 0%;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all 2s ease;
}

.service-box:hover::after,
.service-box:hover::before {
  border-radius: 10%;
  border-color: red;
  width: 100%;
  height: 100%
}

.icon {
  color: white;
  margin-bottom: 1rem;
}

.service-box:hover .icon {
  color: red;
}

/* .service-box:hover  {
  color: red;
  border-radius: 10%;
  text-shadow: 8px 8px 16px ;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 5px red;
} */
/*     recommendations        */
#testimonials {
  background-color: rgb(51, 51, 51);
  color: red;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

/*                  contect and about             */
#contact {
  color: white;
}

.colored-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

#contect .section-heading {
  padding-top: 0%;
}

.contact-box {
  padding: 2.5%;
  border: 3px solid transparent;
}

.about-box {
  padding: 2.5%;
  border: 3px solid transparent;
}

.contact-title {
  color: red;
  text-shadow: 28px 28px 26px darkgrey;
}

.about-title {
  color: red;
  text-shadow: 28px 28px 26px darkgrey;
}

#contact p {
  text-shadow: 48px 48px 26px darkgrey;
}
